.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: getColor('title-text-color');
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
  }
}

.section.no-padding {
  padding-bottom: 0;
}
