.crew {
  background-color: getColor('crew-bg-color');

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.crew-list {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.crew-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: getColor('title-text-color');
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.crew-list .img {
  display: block;

  max-width: 100%;
  height: auto;
}
.crew-list .description {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.crew-list .item {
  background: getColor('white-bg-color');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and(min-width:768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
.crew-list .item:not(:last-child) {
  @media screen and(max-width:767px) {
    margin-bottom: 30px;
  }
}

.crew-list .item-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social {
  display: flex;
  justify-content: center;

  &-item:not(:last-child) {
    margin-right: 10px;
  }
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: getColor('white-bg-color');
    background-color: getColor('accent-color');
  }
}

.social-icon {
  width: 20px;
  height: 20px;

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }
}
