.footer {
  background-color: getColor('secondary-bg-color');
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Address */
.address {
  color: getColor('white-bg-color');
  font-style: normal;
  margin-bottom: 9px;
}
.auth .link {
  display: inline-block;
  color: getColor('adress-text-color');
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }
}
.auth .item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and(max-width:1199px) {
  .auth {
    margin-bottom: 60px;
  }
  .footer-social {
    margin-bottom: 60px;
  }
}
.block-tablet {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
.block {
  @media (max-width: 1199px) {
    text-align: center;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-contacts {
  @media screen and(min-width:1200px) {
    margin-right: 70px;
  }
}

.social-title,
.sign-title {
  color: getColor('white-bg-color');
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: getColor('white-bg-color');
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('accent-color');
  }
  @media screen and(min-width:1200px) {
    margin-bottom: 60px;
  }
}

.footer-sign {
  @media screen and(min-width:1200px) {
    margin-left: auto;
  }
}
.signs {
  @media screen and(min-width:1200px) {
    display: flex;
  }
}
.footer-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  outline: transparent;
  color: getColor('white-bg-color');
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
  }

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: getColor('accent-color');
  }
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  margin-left: 10px;
}
