header {
  background-color: getColor('white-bg-color');
  border-bottom: 1px solid #ececec;
}
.header,
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: getColor('title-text-color');
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav-link.current {
  color: getColor('accent-color');
}
.site-nav .item {
  position: relative;
}
.site-nav-link.current::after {
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: getColor('accent-color');
}

/* Auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: getColor('primary-text-color');
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('accent-color');
  }
}

.link-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}
