.hero {
  background-color: rgba(47, 48, 58, 0.4);
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;

  @media (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/mobileOverlay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/mobileOverlay@2x.jpg);
  }
  @media (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/tabletOverlay.jpg);

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/tabletOverlay@2x.jpg);
    }
    @media (min-width: 1200px) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/desktopOverlay.jpg);

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/desktop/desktopOverlay@2x.jpg);
      }
    }
  }

  &-section {
    text-align: center;
    max-width: 360px;
    padding: 0;
    @media (min-width: 1200px) {
      max-width: 696px;
    }
  }
  &-title {
    margin: 0 auto 30px;

    color: getColor('white-bg-color');

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.4;
    }
  }
}
