.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 73px;

  color: getColor('title-text-color');
  background-color: getColor('crew-bg-color');
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-buttons .button:hover,
.filter-buttons .button:focus {
  color: getColor('white-bg-color');
  background-color: getColor('accent-color');
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  padding: 10px 32px;

  color: getColor('white-bg-color');
  background-color: getColor('accent-color');
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: getColor('white-bg-color');
  background-color: getColor('accent-color');

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  cursor: pointer;

  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:1200px) {
    margin-left: 12px;
  }
}
.menu-button {
  display: inline-flex;
  top: 10px;
  right: 15px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    outline: none;
    color: getColor('accent-color');
  }

  @media screen and(min-width:768px) {
    display: none;
  }

  @media screen and(min-width:1200px) {
    display: none;
  }

  &.icon-menu {
    display: none;
  }
}
.menu-button.is-open {
  position: fixed;
  z-index: 2;
}
.menu-button-icon {
  fill: currentColor;
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
